/*p{
    color: brown;
}

#benzersiz-secici{
    color: rgb(255, 0, 170);
}
.color-blue{
    color: blue;
}
p.color-blue.text-bold#title{
    color: chartreuse;
}*/

*{
    color: pink;
    box-sizing: border-box;
}

div *{
    color: black;
}

h3,p,div{
    color: crimson;
}