/*p{
    color: brown;
}

#benzersiz-secici{
    color: rgb(255, 0, 170);
}
.color-blue{
    color: blue;
}
p.color-blue.text-bold#title{
    color: chartreuse;
}*/
/*
*{
    color: pink;
    box-sizing: border-box;
}

div *{
    color: black;
}

h3,p,div{
    color: crimson;
}
*/
/*
div em{
    color: blue;
}

.div-class .test{
    color: brown;
}


p > em{
    color: brown;
}


h3 + p {
    color: aqua;
}

h3 + p span em{
    color: yellow;

}


h3~p{
    color: aqua;
}

ul .list-iki ~ li{
    color: brown;
}

*/

abbr[title]{
    color: aquamarine;
}

a[target="alt"]{
    color: green;
}

div[class|="box"]{
    background-color: aqua;
}

div[class^="box"]{
    background-color: blueviolet;
}

div[class$="box"]{
    background-color: brown;
}

div[class*="top" i]{
    background-color: burlywood;
}

.box::after{
    content: attr(title);
    color: blue;
}

.box::before{
    content: attr(data-id);
    color: blueviolet;
}

.sozde-paragraf::first-letter{
    color: palevioletred;
    font-size: 50px;
}

.sozde-paragraf::first-line{
    background-color: cadetblue;
    color: blue;
}

::selection{
    background-color: rgb(206, 255, 71);
}

p::selection{
    background-color: red;
}

input{
    color: blue;
}

textarea{

    color: yellowgreen;
}

input::placeholder{
    color: coral;
}

.list li:first-child{
    background-color: blueviolet;
}

.child ul:first-child{
    background-color: red;
}

.child:first-child{
    background-color: yellow;
}

ul li:last-child{
    background-color: turquoise;
}

.child:first-of-type{
    background-color: tomato;
}
