
.min{
    max-width: 80%;
    min-width: 600px;
    height: 400px;
    background-color: lime;

}

.content{
    width: min-content;
    background-color: aqua;
}
.box2{
    background-color: tomato;
    writing-mode: vertical-lr;
    height: min-content;
}